@{
    ViewData["Title"] = "Home Page";
}

<div class="application-download row" style="margin-left:104.5px; padding-left:32px;">
    <div class="col-sm-12 col-md-12 col-lg-5 description">
        <p class="intro-text-1 paragraph-1 paragraph-1-zoom-0">
            TBC — Oʻzbekistondagi raqamli birinchi bank
        </p> <h1 class="headline-1 headline-1-zoom-0">
            Hayotingizni osonlashtiramiz
        </h1> <p class="intro-text-2 paragraph-2 paragraph-2-zoom-0">
            Ilovani yuklab oling — bank doim yoningizda boʻlsin.
        </p> <p class="intro-text-3 paragraph-3 paragraph-3-zoom-0">
            Raqamingizni kiriting — ilovani yuklab olishingiz uchun sizga havola joʻnatiladi
        </p>
        
        <div class="sms-input-wrapper">
            <div class="mb-0 sms-input sms-input-commponent-18 sms-input-ligth">
                <input type="text" name="" id="" placeholder="+998 XX XXX - XX - XX">
                <button id="send-sms-button-18"  disabled="disabled">
                    <div class="btn v-button btn-text-1 sms-sned-button btn-text-1-zoom-0 d-flex">
                        Havolani olish
                    </div>
                </button>
            </div>
            
            <div class="sms-input mt-0 p-0 pt-3">
                <div class="checkbox-wrapper sms-input-checkbox  mt-0  float-left">
                    <label class="paragraph-3 paragraph-3-zoom-0">
                        <input type="checkbox" name="agreement"> 
                        <span>
                            Bilan roziman	&nbsp; <a href="https://tbcbank.uz/uploads/Murojaatlarni_ko_rib_chiqish_6165b7d7ee.pdf" target="_blank" class="paragraph-3 sms-input-checkbox-terms cursor-pointer paragraph-3-zoom-0">Xizmat ko'rsatish shartlari</a>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div data-v-0d24514c="" class="application-buttons-container">
            <div data-v-0d24514c="" class="store-icons-title caption-title caption-title-zoom-0">
                Ilovamizni yuklab oling
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-7"><img src="https://tbcbank.uz/uploads/App_2_17bd8c0e45.jpeg" alt="1" class="application-download-main-img"></div>
</div>

<div class="footer">
    <div class="top-footer">
        <div class="container">
            <div class="section-title text-center">
                <div class="headline-2">
                    Savollaringiz bormi? Maslahatchilarimizga yozing
                </div>
                <button class="write-btn" onclick="window.open('https://t.me/kodirov_iskandar', '_blank')">
                    Yozish
                </button>
            </div>
        </div>
    </div> 
    <div class="footer">
    <div class="container">
        <div class="blog-subscribe"><h2>Bank yangiliklarini birinchilardan bo'lib o'qing</h2> <div class="blog-subscribe-input"><input type="text" name="" id="" placeholder="Введите свой E-Mail"> <button id="footer-subscribe-form-button" class="btn v-button primary" disabled="disabled"><span> Jo'natish</span> <div class="icon-container-right"><svg xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-arrow" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-arrow"></use></svg></div> <!----></button> <!----></div> <div class="checkbox-wrapper dark"><label class="paragraph-3"><div class="icon-container"><!----></div> <input type="checkbox" name="agreement"> <span><a href="https://tbcbank.uz/uploads/Murojaatlarni_ko_rib_chiqish_6165b7d7ee.pdf" target="_blank" class="AgreeButton">Xizmat koʻrsatish shartlari</a> bilan roziman</span></label></div> <!----> <!----></div> <div class="main-information-wrapper">
            <div class="navigation-wrapper">
                <div class="navigation">
                    <div class="left-col">
                        <div class="contact">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-5 col-lg-4 text-center text-md-start">
                                    <div class="phone-number-wrapper mb-md-0">
                                        <div class="phone-number headline-4">
                                            Baxt markazi - 1150
                                        </div> <p class="phone-number-description">
                                            Call-markaz
                                        </p>
                                    </div>
                                </div> <div class="col-12 col-md-7 col-xl-8 social-links"><div class="social-link"><a href="https://t.me/tbc_bank_uzb" target="_blank" id="" class="btn-text-1"><svg xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-telegram" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-telegram"></use></svg></a></div><div class="social-link"><a href="https://www.instagram.com/tbcbankuzbekistan/" target="_blank" id="" class="btn-text-1"><svg xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-instagram" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-instagram"></use></svg></a></div><div class="social-link"><a href="https://www.facebook.com/tbcbankuz" target="_blank" id="" class="btn-text-1"><svg xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-facebook" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-facebook"></use></svg></a></div><div class="social-link"><a href="https://www.linkedin.com/company/tbcbankuz/" target="_blank" id="" class="btn-text-1"><svg xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-linkedin" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-linkedin"></use></svg></a></div><div class="social-link"><a href="https://www.youtube.com/c/TBCBankuz" target="_blank" id="" class="btn-text-1"><svg xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-youtube" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-youtube"></use></svg></a></div></div>
                            </div>
                        </div> <div class="footer-menus-wrapper text-center text-md-start">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <h3 class="caption-title">
                                        Mahsulotlar
                                    </h3> <ul class="footer-menu">
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/kredity" class="btn-text-1" target="" id="footer-menu-kredity-38">
                                                Kreditlar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/depozity" class="btn-text-1" target="" id="footer-menu-depozity-37">
                                                Depozitlar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/mobilnoe-prilozhenie" class="btn-text-1" target="" id="footer-menu-mobilnoe-prilozhenie-68">
                                                TBC UZ ilovasi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/tbc-stars" class="btn-text-1" target="" id="footer-menu-tbc-stars-40">
                                                TBC Stars
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/denezhnye-perevody" class="btn-text-1" target="" id="footer-menu-denezhnye-perevody-39">
                                                Pul o'tkazmalari
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/platezhy" class="btn-text-1" target="" id="footer-menu-platezhy-71">
                                                To'lovlar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/tbc-rassrochka" class="btn-text-1" target="" id="footer-menu-tbc-rassrochka-113">
                                                TBC Muddatli to'lov
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/tbc-druzya" class="btn-text-1" target="" id="footer-menu-tbc-druzya-142">
                                                TBC Do'stlar
                                            </a>
                                        </li>
                                    </ul>
                                </div><div class="col-12 col-md-4">
                                    <h3 class="caption-title">
                                        Kartalar
                                    </h3> <ul class="footer-menu">
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/virtualnaya-karta" class="btn-text-1" target="" id="footer-menu-virtualnaya-karta-69">
                                                TBC Virtual kartasi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/humo-card" class="btn-text-1" target="" id="footer-menu-humo-card-70">
                                                TBC kartasi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/product/karta-tbc-visa-virtual" class="btn-text-1" target="" id="footer-menu-karta-tbc-visa-virtual-117">
                                                TBC Visa Virtual kartasi
                                            </a>
                                        </li>
                                    </ul>
                                </div><div class="col-12 col-md-4">
                                    <h3 class="caption-title">
                                        Biz haqimizda
                                    </h3> <ul class="footer-menu">
                                        <li>
                                            <a href="https://tbcbank.uz/uz/csr-project" class="btn-text-1" target="" id="footer-menu--106">
                                                CSR loyihalar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/news" class="btn-text-1" target="" id="footer-menu--43">
                                                Yangiliklar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/cultures-values" class="btn-text-1" target="" id="footer-menu--41">
                                                Bankning faoliyati va maqsadlari
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/team" class="btn-text-1" target="" id="footer-menu--44">
                                                Bankning tuzilmasi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/career" class="btn-text-1" target="" id="footer-menu--42">
                                                Bo'sh ish o'rinlari
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://tbcbank.uz/uz/contact" class="btn-text-1" target="" id="footer-menu--109">
                                                Bog'lanish
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <div class="bottom-links-wrapper">
                <div class="bottom-links">
                    <div class="d-flex flex-wrap justify-content-lg-between">
                        <div class="col-12 col-md-4 col-lg-auto">
                            <a href="https://tbcbank.uz/uz/analysis-of-requests" class="btn-text-1" target="" id="footer-left-bottom-menu--45">
                                Murojaatlar statistikasi
                                <!---->
                            </a>
                        </div><div class="col-12 col-md-4 col-lg-auto">
                            <a href="https://tbcbank.uz/uz/tenders" class="btn-text-1" target="" id="footer-left-bottom-menu--90">
                                Tenderlar
                                <!---->
                            </a>
                        </div><div class="col-12 col-md-4 col-lg-auto">
                            <a href="https://tbcbank.uz/uploads/Oferta_dlya_mobilnogo_BG_UZ_13579ddecf.pdf" target="_blank" id="footer-left-bottom-menu--46" class="btn-text-1">
                                Ommaviy oferta
                                <!---->
                            </a>
                        </div><div class="col-12 col-md-4 col-lg-auto">
                            <a href="https://tbcbank.uz/uploads/soddalashtirilganbosh-shartlariuz.pdf" target="_blank" id="footer-left-bottom-menu--102" class="btn-text-1">
                                Bosh shartlar
                                <!---->
                            </a>
                        </div><div class="col-12 col-md-4 col-lg-auto">
                            <a href="https://tbcbank.uz/uz/documents" class="btn-text-1" target="" id="footer-left-bottom-menu--48">
                                Hujjatlar
                                <!---->
                            </a>
                        </div><div class="col-12 col-md-4 col-lg-auto">
                            <a href="https://tbcbank.uz/uploads/Liczenziya_45f4c035da.pdf" target="_blank" id="footer-left-bottom-menu--47" class="btn-text-1">
                                Litsenziyalar va sertifikatlar
                                <!---->
                            </a>
                        </div>
                    </div>
                </div>
            </div> <div class="risk-department-wrapper">
                <div class="risk-department">
                    <div class="phone-number-wrapper">
                        <div class="phone-number headline-4">
                            <div>Anonim ishonch telefoni</div> <a href="https://tbcbank.uz/uz/risk-department" class="btn v-button my-2 my-lg-0 ms-lg-3" target="" id="footer-modal-risk-department">
                                Batafsil
                            </a>
                        </div> <p class="phone-number-description btn-text-1">

                        </p>
                    </div>
                </div>
            </div> <div class="download-application-wrapper">
                <div class="download-application">
                    <div class="download-application-text subtitle"><div><p><strong>Bank doim </strong>yoningizda boʻlishi uchun ilovani oʻrnating</p></div></div> <div class="img screen-img"><img src="https://tbcbank.uz/uploads/Mask_Group_8_511ba87a6c_1a0cd6024c.png" alt=""></div> <div class="download-application-group">
                        <div data-v-0d24514c="" class="application-buttons-container">
                            <div data-v-0d24514c="" class="store-icons-title caption-title">
                                Ilovamizni yuklab oling
                            </div> <div data-v-0d24514c="" class="store-icons"><!----><!----> <div data-v-0d24514c=""></div> <div data-v-0d24514c="" data-tippy-component="" class="store-qr-wrapper"><div data-tippy-component-trigger="" tabindex="0"><div data-v-0d24514c="" class="store-qr"><div data-v-0d24514c="" class="store-qr-icon"><svg data-v-0d24514c="" xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use data-v-0d24514c="" href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-qr" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-qr"></use></svg></div> <span data-v-0d24514c="" class="subtitle">QR kodni skaner qiling</span></div></div> </div></div>
                        </div> <div id="footerQRCodeContainer" class="qr-img img"><canvas width="246" height="246"></canvas></div>
                    </div>
                </div>
            </div>
        </div> <div class="footer-copyright">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons"><use href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-logofooter" xlink:href="/_nuxt/493bbae73842ed6df45233953b3eb9ae.svg#i-logofooter"></use></svg> <span class="btn-text-1 copyright">
                © 2022 АКБ "TBC BANK" Лицензия #86, 17.03.2022. При
                использовании материалов сайта ссылка на веб-сайт
                www.tbcbank.uz обязательна.
            </span> <div id="counterUz"></div>
        </div>
    </div>
</div>
</div>

<style>
    .main-container .container, footer .container {
        padding: 0 2rem;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.75rem;
        padding-left: calc(var(--bs-gutter-x)*.5);
        padding-right: 0.75rem;
        padding-right: calc(var(--bs-gutter-x)*.5);
        width: 100%;
    }

    body {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        background-color: #fff;
        background-color: var(--bs-body-bg);
        color: #212529;
        color: var(--bs-body-color);
        font-family: "TBCXRegular";
        font-family: var(--bs-body-font-family);
        font-size: 1.25rem;
        font-size: var(--bs-body-font-size);
        font-weight: 400;
        font-weight: var(--bs-body-font-weight);
        line-height: 1.5;
        line-height: var(--bs-body-line-height);
        margin: 0;
        text-align: var(--bs-body-text-align);
    }

    .write-btn {
        background-color: #00a2b7;
        width: 95.5px;
        height: 35px;
        border-radius: 16px;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    .write-btn:hover {
        background-color: #076370;
    }

    .headline-2 {
        font-family: Verdana, sans-serif;
        color:azure;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 1.2;
    }

    .application-download {
        align-items: center;
        display: flex;
    }

    .application-download-main-img {
        border-radius: 24px;
        height: 700px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
        width: 100%;
    }


    .top-footer {
        background-color: #202022;
        padding-bottom: 2rem;
        padding-top: 2rem;
        box-sizing:border-box;
        width: 100%;
    }

    .top-footer .section-title {
        align-items: center;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }
    
    .footer {
        width:1349px;
        margin-top:64px;    
        background: #2c2c2e;
        color: #fff;
        margin-right:0px;
        margin-left:0px;
    }

    .sms-input {
        overflow: hidden;
        padding-top: 1rem;
        transform: translateX(1px);
        width: 421px;
    }

    .sms-input-ligth input {
        background: #fff
    }

    .sms-input {
        overflow: hidden;
        padding-top: 1rem;
        transform: translateX(1px);
        width: 421px
    }

    .sms-input input {
        border-bottom: 1px solid #ddd;
        border-bottom-left-radius: 16px;
        border-left: 1px solid #ddd;
        border-color: #ddd currentcolor currentcolor;
        border-top: 1px solid #ddd;
        border-color: var(--transparency-light-gray);
        border-top-left-radius: 16px;
        display: block;
        float: left;
        font-family: "TBCXRegular";
        font-size: 16px;
        font-weight: 400;
        height: 56px;
        letter-spacing: 0;
        line-height: 1.5;
        padding: 0 1.5rem 0 1rem;
        width: 218px
    }

    .sms-input .sms-sned-button {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 !important;
        width: 72px
    }

    .sms-input .sms-sned-button span {
        display: none
    }

    .sms-input .sms-sned-button svg {
        display: block;
        height: 24px;
        width: 24px
    }

    .sms-input .sms-sned-button:disabled {
        background-color: #ddd !important;
        background-color: var(--transparency-light-gray) !important;
        color: #959596;
        color: var(--transparency-grey-suit);
        opacity: 1;
    }

    .sms-input .sms-sned-button {
        border-radius: 0;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        color: #fff;
        display: block;
        float: left;
        height: 56px;
        width: 203px;
    }

    .sms-input-wrapper {
        display: block
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

</style>