<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBC - Oʻzbekistondagi raqamli birinchi bank.</title>
    <link rel="icon" type="image/png" href="~/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TBC.Web.styles.css" asp-append-version="true" />
</head>
<body style="background-color:ghostwhite;">
    <header class="" style="height:80px; width:1349px; background-color:white;">
        <div class="container d-flex align-items-center" style="padding-top:16px;">
            <a class="logo nuxt-link-exact-active nuxt-link-active" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/main_logo.svg" alt="logo" style="margin-top:8px; height:31px; width:115px;">
            </a>
            <div class="spacer" style="width:46.8px;">

            </div>
            <nav class="menu" style="width:529.2px; height:33px;">
                <ul class="list-unstyled d-flex m-0 p-0">
                    <li class="mr-3 nav-btn nav-item">Mahsulotlar</li>
                    <li class="mr-3 nav-btn nav-item">Biz haqimizda</li>
                    <li class="mr-3 nav-btn nav-item">Helloblog</li>
                    <li class="mr-3 nav-btn nav-item">Yordam</li>
                </ul>
            </nav>
            <button class="nav-button mr-3 d-flex" style="width:61px;">
                Uz
                <img src="~/down-lang.svg" style="margin-left:5px;width:13px;height:13px;" />
            </button>

            <button class="nav-button mr-3">
                <img src="~/volume-off.svg" style="width:17px;height:17px;" />
            </button>
            
            <button class="nav-button mr-3">
                <img src="~/eye.svg" style="width:17px;height:17px;" />
            </button>
            
            <button class="search-button mr-3">
                <img src="~/search.svg" style="width:17px;height:17px;"/>
            </button>
            <button class="download-btn mr-3">
                Ilovani yuklab olish
            </button>
        </div>
    </header>
    <div class="container" style="margin-top:64px;padding-left:0px; margin-left:0px;">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .nav-btn {
        text-align: center;
        border: none;
        margin-top: 8px;
        border-radius:20px;
        width:111.47px;
        cursor:pointer;
        height:32px;
        color: black;
        font-size: 16px;
        transition: 0.3s;
    }

    .nav-btn:hover {
        background-color: #ddd;
        color: white;
    }

    .nav-item{
        margin-top:8px;
    }

    nav ul {
        text-align: center;
    }

    .sms-input {
        overflow: hidden;
        padding-top: 1rem;
        transform: translateX(1px);
        width: 421px;
    }

    .caption-title, .subtitle {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.2;
    }

    .download-btn{
        background-color: #00a2b7;
        width: 180px;
        height: 48px;
        border-radius: 16px;
        border: none;
        color:white;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .download-btn:hover{
        background-color: #076370;
    }

    .search-button {
        align-items:center;
        background-color: #f9f8f6;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 16px;
        height: 48px;
        margin: 0 1rem;
        padding: 0.5rem 1rem;
        position: relative;
        width: 48px;
        z-index: 2;
    }

    .nav-button {
        align-items: center;
        background-color: #f9f8f6;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 16px;
        height: 48px;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        position: relative;
        width: 48px;
        z-index: 2;
    }

</style>